<mat-card
    class="card"
    [@cardAnimator]="animationState"
    (@cardAnimator.done)="resetAnimationState($event)"
    (swipeleft)='startAnimation("swipeleft")' 
    (swiperight)='startAnimation("swiperight")'
> 

    <mat-card-header>
        <div mat-card-avatar src="assets/icons/energy-mobility.png">
        </div>

        <img src="assets/icons/energy-mobility.png">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>Ökologie</mat-card-subtitle>
    </mat-card-header>

    <p>{{question.question}}</p>

</mat-card>

